#!/bin/bash
source venv/bin/activate
export GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
export OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY"
export XAI_API_KEY="YOUR_XAI_API_KEY"
export GROQ_API_KEY="YOUR_GROQ_API_KEY"
# export OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
export ANTHROPIC_API_KEY="YOUR_ANTHROPIC_API_KEY"  # Required for Claude models
uvicorn backend.main:app --reload --port 8000
